## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

full_list = list(range(101))

sample_list_1 = random.sample(full_list,80)

print(sample_list_1)

[60, 61, 46, 72, 82, 88, 62, 52, 34, 53, 95, 94, 22, 13, 49, 39, 9, 54, 50, 59, 16, 75, 51, 80, 45, 21, 6, 24, 71, 44, 5, 100, 92, 64, 1, 81, 68, 11, 79, 42, 90, 29, 2, 0, 30, 63, 12, 15, 38, 69, 93, 20, 58, 66, 40, 96, 33, 56, 37, 55, 47, 36, 83, 3, 67, 28, 74, 19, 8, 98, 4, 87, 41, 73, 43, 10, 91, 26, 86, 57]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)

print(len(set1))

#yes it it still same lenght as random.sample created a list of unique values

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

sample_list_2 =[]

for number in range(80):
    sample_list_2.append(random.randint(0,100))

print(sample_list_2)

[64, 13, 80, 55, 41, 57, 70, 40, 96, 46, 64, 73, 16, 1, 37, 76, 88, 37, 88, 44, 47, 46, 42, 87, 69, 93, 49, 15, 42, 24, 85, 80, 86, 68, 56, 68, 23, 1, 24, 94, 69, 79, 12, 97, 50, 62, 10, 44, 67, 4, 9, 57, 72, 74, 28, 38, 6, 76, 9, 18, 76, 83, 23, 73, 64, 97, 46, 33, 72, 100, 93, 71, 26, 54, 55, 9, 54, 73, 52, 45]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)

print(len(set2))

# it is not the same lenght as we allowed sample_list_2 to have repeated elements

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

set3 = set1.difference(set2)

print(set3)

{0, 2, 3, 5, 8, 11, 19, 20, 21, 22, 29, 30, 34, 36, 39, 43, 51, 53, 58, 59, 60, 61, 63, 66, 75, 81, 82, 90, 91, 92, 95, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2.difference(set1)

print(set4)

{97, 70, 76, 18, 85, 23}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2)

print(set5)

{1, 4, 6, 9, 10, 12, 13, 15, 16, 24, 26, 28, 33, 37, 38, 40, 41, 42, 44, 45, 46, 47, 49, 50, 52, 54, 55, 56, 57, 62, 64, 67, 68, 69, 71, 72, 73, 74, 79, 80, 83, 86, 87, 88, 93, 94, 96, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
      
print(len(set1) == len(set3) + len(set5))

print(len(set2) == len(set4) + len(set5))

print(len(set5) == len(set2) - len(set4))

print(len(set5) == len(set1) - len(set3))

True
True
True
True

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here

set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 19, 20, 21, 22, 24, 26, 28, 29, 30, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 75, 79, 80, 81, 82, 83, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 100}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here

print(set3.union(set4,set5))

print(set1.union(set2))

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 79, 80, 81, 82, 83, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}
{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 79, 80, 81, 82, 83, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
set1.pop()
print(set1)

{1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 19, 20, 21, 22, 24, 26, 28, 29, 30, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 75, 79, 80, 81, 82, 83, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for number in list_to_remove:
    if number in set1:
        set1.remove(number)
    else:
        continue
        
print(set1)

{2, 3, 4, 5, 6, 8, 10, 12, 13, 15, 16, 20, 22, 24, 26, 28, 30, 33, 34, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 66, 67, 68, 72, 73, 74, 75, 80, 82, 83, 86, 87, 88, 90, 92, 93, 94, 95, 96, 98, 100}