## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [10]:
sample_list_1 = random.sample(range(100),80)
print(sample_list_1)

print(len(sample_list_1))
type(sample_list_1)

[96, 71, 28, 16, 19, 74, 95, 58, 31, 75, 90, 78, 41, 9, 91, 34, 18, 2, 39, 6, 33, 89, 26, 79, 99, 73, 54, 55, 59, 8, 44, 46, 80, 14, 64, 13, 87, 36, 69, 68, 21, 84, 70, 56, 0, 48, 25, 40, 38, 52, 92, 7, 62, 65, 42, 85, 53, 82, 57, 93, 45, 1, 30, 35, 5, 66, 4, 3, 97, 67, 10, 24, 17, 32, 15, 22, 86, 43, 60, 76]
80

list

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [19]:
set1 = set(sample_list_1)
print(set1)
display(type(set1))
len(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 21, 22, 24, 25, 26, 28, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 78, 79, 80, 82, 84, 85, 86, 87, 89, 90, 91, 92, 93, 95, 96, 97, 99}

set

80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [21]:
sample_list_2 = []

for numbers in range(80):
    random_value = random.randint(0, 100)
    sample_list_2.append(random_value)

print(sample_list_2)
len(sample_list_2)

[57, 65, 73, 36, 97, 88, 23, 4, 13, 73, 67, 1, 3, 72, 40, 63, 35, 67, 39, 49, 32, 39, 7, 37, 67, 77, 70, 53, 60, 12, 42, 55, 81, 61, 7, 54, 42, 72, 31, 78, 24, 45, 15, 53, 73, 92, 24, 82, 10, 85, 95, 57, 30, 0, 65, 15, 20, 35, 3, 33, 13, 58, 49, 66, 17, 0, 78, 3, 85, 92, 96, 56, 16, 12, 31, 39, 85, 74, 63, 1]

80

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [22]:
set2 = set(sample_list_2)
print(set2)
display(type(set2))
len(set2)

# The lenght is no longer 80 because sets get rid of repetition.

{0, 1, 3, 4, 7, 10, 12, 13, 15, 16, 17, 20, 23, 24, 30, 31, 32, 33, 35, 36, 37, 39, 40, 42, 45, 49, 53, 54, 55, 56, 57, 58, 60, 61, 63, 65, 66, 67, 70, 72, 73, 74, 77, 78, 81, 82, 85, 88, 92, 95, 96, 97}

set

52

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [57]:
set3 = []

for number in set1:
    if number in set2:
        continue
    else:
        set3.append(number)

set3 = set(set3)
print(set(set3))
display(type(set3))
len(set3)

{2, 5, 6, 8, 9, 14, 18, 19, 21, 22, 25, 26, 28, 34, 38, 41, 43, 44, 46, 48, 52, 59, 62, 64, 68, 69, 71, 75, 76, 79, 80, 84, 86, 87, 89, 90, 91, 93, 99}

set

39

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [58]:
set4 = []

for number in set2:
    if number in set1:
        continue
    else:
        set4.append(number)

set4 = set(set4)
print(set(set4))
display(type(set4))
len(set4)

{37, 72, 12, 77, 49, 81, 20, 23, 88, 61, 63}

set

11

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [59]:
set5 = []

for number in set1:
    if number in set2:
        set5.append(number)
    else:
        continue

set5 = set(set5)
print(set(set5))
display(type(set5))
len(set5)

{0, 1, 3, 4, 7, 10, 13, 15, 16, 17, 24, 30, 31, 32, 33, 35, 36, 39, 40, 42, 45, 53, 54, 55, 56, 57, 58, 60, 65, 66, 67, 70, 73, 74, 78, 82, 85, 92, 95, 96, 97}

set

41

#### 8 - Create an empty set called `set6`.

In [60]:
set6 = set()
type(set6)

set

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [61]:
set6.update(set3)
set6.update(set5)

print(set6)
len(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 21, 22, 24, 25, 26, 28, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 78, 79, 80, 82, 84, 85, 86, 87, 89, 90, 91, 92, 93, 95, 96, 97, 99}

80

#### 10 - Check if `set1` and `set6` are equal.

In [62]:
if set1 == set6:
    print("They are equal.")
else:
    print("They are not equal.")

They are equal.

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [63]:
display(set1.issubset(set2))
set1.issubset(set3)

False

False

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [64]:
aggregate_1= set()
aggregate_2 = set()

aggregate_1 = set3.union(set4, set5)
aggregate_2 = set1.union(set2)

print(aggregate_1)
type(aggregate_1)
print(aggregate_2)

if aggregate_1 == aggregate_2:
    print("The values are equal.")
else:
    print("The values are not equal.")

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 99}
The values are equal.

In [65]:
display(type(set1))
display(type(set2))
display(type(set3))
display(type(set4))
display(type(set5))

set

set

set

set

set

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [67]:
set1.pop[0]
print(set1)

TypeError: 'builtin_function_or_method' object is not subscriptable

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [68]:

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for elements in list_to_remove:
    if elements in set1:
        set1.remove(elements)
    else:
        continue

print(set1)

{0, 2, 3, 4, 5, 6, 7, 8, 10, 13, 14, 15, 16, 17, 18, 22, 24, 25, 26, 28, 30, 32, 33, 34, 35, 36, 38, 40, 42, 43, 44, 45, 46, 48, 52, 53, 54, 55, 56, 57, 58, 60, 62, 64, 65, 66, 67, 68, 70, 73, 74, 75, 76, 78, 80, 82, 84, 85, 86, 87, 90, 92, 93, 95, 96, 97}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [ ]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [77]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []


father_set = set(father_list)
mother_set = set(mother_list)
Jo_set = set(Jo_list)
Carlos_set = set(Carlos_list)
Mattia_set = set(Mattia_list)

Distinct_items = father_set.union(mother_set, Jo_set,Carlos_set, Mattia_set)

print(Distinct_items)
type(Distinct_items)

{'milk', 'onions', 'tomatoes', 'blueberries', 'toilet paper', 'gums', 'garlic', 'cherries', 'juice', 'yogurt', 'cucumber', 'flour', 'sugar', 'water', 'watermelon'}

set

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [81]:
Mattia_set = Carlos_set.symmetric_difference(Jo_set)

print(Mattia_set)
type(Mattia_set)

{'milk', 'juice', 'yogurt', 'cherries', 'cucumber', 'flour', 'toilet paper', 'sugar', 'gums', 'water', 'watermelon'}

set

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [80]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['blueberries', 'deodorant', 'mushrooms', 'vinegar', 'shampoo', 'watermelon', 'water', 'onions', 'toilet paper', 'bread']

In [82]:
mother_set = set(mother_list)
print(mother_set)

{'shampoo', 'deodorant', 'onions', 'water', 'blueberries', 'toilet paper', 'bread', 'vinegar', 'mushrooms', 'watermelon'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [86]:
Grocery_set = father_set.union(mother_set, Jo_set,Carlos_set, Mattia_set)

Grocery_set.discard('toilet paper')
print(Grocery_set)

{'milk', 'deodorant', 'onions', 'tomatoes', 'blueberries', 'bread', 'vinegar', 'gums', 'garlic', 'cherries', 'mushrooms', 'shampoo', 'juice', 'yogurt', 'cucumber', 'flour', 'sugar', 'water', 'watermelon'}

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [87]:
print(Grocery_set)

{'milk', 'deodorant', 'onions', 'tomatoes', 'blueberries', 'bread', 'vinegar', 'gums', 'garlic', 'cherries', 'mushrooms', 'shampoo', 'juice', 'yogurt', 'cucumber', 'flour', 'sugar', 'water', 'watermelon'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [97]:
Grocery_list = list(Grocery_set)
print(Grocery_list)
type(Grocery_list)

['milk', 'deodorant', 'onions', 'tomatoes', 'blueberries', 'bread', 'vinegar', 'gums', 'garlic', 'cherries', 'mushrooms', 'shampoo', 'juice', 'yogurt', 'cucumber', 'flour', 'sugar', 'water', 'watermelon']

list

In [101]:
Grocery_list.pop(2:5)
print(Grocery_list)

SyntaxError: invalid syntax (3639417911.py, line 1)