## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(101),k=80)
sample_list_1

[79,
 50,
 70,
 85,
 96,
 65,
 72,
 28,
 94,
 14,
 34,
 97,
 23,
 80,
 44,
 49,
 18,
 6,
 98,
 41,
 67,
 5,
 73,
 21,
 64,
 63,
 43,
 54,
 90,
 20,
 25,
 59,
 78,
 93,
 47,
 12,
 87,
 40,
 31,
 83,
 10,
 89,
 68,
 88,
 8,
 60,
 15,
 56,
 45,
 77,
 46,
 62,
 2,
 38,
 74,
 27,
 48,
 1,
 32,
 4,
 91,
 86,
 16,
 42,
 76,
 26,
 37,
 11,
 99,
 95,
 100,
 36,
 17,
 24,
 61,
 35,
 75,
 52,
 7,
 57]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [8]:
# Your code here
set1 = set(sample_list_1)
len_set = len(set1)

print(f"The length of set1 is {len_set} and it is {len_set == len(sample_list_1)} that it is the same as the length of sample_list_1")

The length of set1 is 80 and it is True that it is the same as the length of sample_list_1

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [ ]:
# Your code here
sample_list_2 = [random.randint(0,100) for i in range(80)]

sample_list_2

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [23]:
# Your code here
set2 = set(sample_list_2)
print(len(set2)) #this is no longer 80 because sets ignore the duplicate elements in sample_list_2

51

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [19]:
# Your code here
set3 = set1.difference(set2)

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [25]:
# Your code here
set4 = set2.difference(set1)
set4

{3, 9, 29, 39, 53, 55, 66, 71, 82, 92}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [22]:
# Your code here
set5 = set1.intersection(set2)

#### 8 - Create an empty set called `set6`.

In [16]:
# Your code here
set6 = set()

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [26]:
# Your code here
set6.update(set3,set5)
set6

{1,
 2,
 4,
 5,
 6,
 7,
 8,
 10,
 11,
 12,
 14,
 15,
 16,
 17,
 18,
 20,
 21,
 23,
 24,
 25,
 26,
 27,
 28,
 31,
 32,
 34,
 35,
 36,
 37,
 38,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 52,
 54,
 56,
 57,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 67,
 68,
 70,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 83,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100}

#### 10 - Check if `set1` and `set6` are equal.

In [24]:
# Your code here
set1 == set6

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [28]:
# Your code here
print(set2.issubset(set1),set3.issubset(set1))

False True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [29]:
# Your code here
set7 = set3.union(set4,set5)
set8 = set1.union(set2)
set7 == set8

True

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [44]:
# Your code here
#Since sets in Python are unordered collections, there is no concept of a "first" element in a set. 
#Therefore, removing the "first" element from a set using the pop() method doesn't make sense in the traditional sense as it does for lists.
#I could use set1.pop() to remove an arbitrary element from the set, or convert set 1 into a list to temporarily remove the first element.
#I will use the option to covnert the set into a list

list1 = list(set1)

In [46]:
list1.pop(0)

1

In [48]:
set1 = set(list1)

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [49]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for element in list_to_remove:
    if element in set1:
        set1.remove(element)

print(set1)

{2, 4, 5, 6, 7, 8, 10, 12, 14, 15, 16, 17, 18, 20, 23, 24, 25, 26, 27, 28, 32, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 54, 56, 57, 60, 62, 63, 64, 65, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 83, 85, 86, 87, 88, 90, 93, 94, 95, 96, 97, 98, 100}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [54]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [55]:
# Your code here
father_set = set(father_list)
mother_set = set(mother_list)
Jo_set = set(Jo_list)
Carlos_set = set(Carlos_list)
Mattia_set = set(Mattia_list)

print("Father's set:", father_set)
print("Mother's set:", mother_set)
print("Jo's set:", Jo_set)
print("Carlos's set:", Carlos_set)
print("Mattia's set:", Mattia_set)

Father's set: {'watermelon', 'cucumber', 'gums', 'yogurt', 'onions', 'flour', 'garlic', 'toilet paper'}
Mother's set: set()
Jo's set: {'watermelon', 'cucumber', 'juice', 'sugar', 'milk', 'gums', 'yogurt', 'onions', 'blueberries', 'garlic', 'tomatoes'}
Carlos's set: {'cherries', 'blueberries', 'onions', 'flour', 'water', 'garlic', 'toilet paper', 'tomatoes'}
Mattia's set: set()

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [56]:
# Your code here
Mattia_set = Carlos_set.symmetric_difference(Jo_set)
print("Updated Mattia's set:", Mattia_set)

Updated Mattia's set: {'watermelon', 'cucumber', 'juice', 'sugar', 'cherries', 'milk', 'gums', 'yogurt', 'flour', 'water', 'toilet paper'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [57]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['cucumber', 'milk', 'mushrooms', 'onions', 'bread', 'yogurt', 'mushrooms', 'chocolate', 'bread', 'onions']

In [58]:
# Your code here
mother_set = {item for item in mother_list} #using another method here than above, for variation
mother_set

{'bread', 'chocolate', 'cucumber', 'milk', 'mushrooms', 'onions', 'yogurt'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [59]:
# Your code here
sets_list = [father_set, mother_set, Jo_set, Carlos_set, Mattia_set]

for s in sets_list:
    s.discard("toilet paper")

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [60]:
# Your code here
groceries_set = mother_set.union(father_set, Jo_set, Carlos_set, Mattia_set)
print(groceries_set)

{'watermelon', 'juice', 'sugar', 'cherries', 'gums', 'onions', 'flour', 'bread', 'blueberries', 'tomatoes', 'water', 'cucumber', 'mushrooms', 'milk', 'yogurt', 'chocolate', 'garlic'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [63]:
# Your code here
for i in range(5):
    item_bought = groceries_set.pop()
    print("Bought:",item_bought)

Bought: watermelon
Bought: juice
Bought: sugar
Bought: cherries
Bought: gums