## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
# Your code here
sample_list_1 = random.sample(range(100),80) #Return the sampled list of unique random integers
sample_list_1

[48,
 63,
 74,
 2,
 84,
 21,
 33,
 20,
 30,
 18,
 65,
 47,
 66,
 32,
 38,
 40,
 39,
 68,
 99,
 3,
 35,
 67,
 8,
 23,
 53,
 55,
 79,
 12,
 43,
 95,
 78,
 6,
 27,
 28,
 86,
 89,
 10,
 14,
 58,
 90,
 71,
 57,
 1,
 37,
 96,
 26,
 0,
 92,
 25,
 46,
 13,
 83,
 9,
 82,
 93,
 22,
 44,
 4,
 62,
 97,
 19,
 49,
 72,
 87,
 76,
 75,
 41,
 80,
 69,
 54,
 16,
 42,
 24,
 15,
 59,
 77,
 45,
 36,
 64,
 34]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [8]:
# Your code here
set1 = set(sample_list_1)
set1

{0,
 1,
 2,
 3,
 4,
 6,
 8,
 9,
 10,
 12,
 13,
 14,
 15,
 16,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 53,
 54,
 55,
 57,
 58,
 59,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 71,
 72,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 82,
 83,
 84,
 86,
 87,
 89,
 90,
 92,
 93,
 95,
 96,
 97,
 99}

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [21]:
# Your code here

sample_list_2 = []

for element in range(0,80):
    sample_list_2.extend(random.sample(range(100),1))
       
sample_list_2

[65,
 88,
 75,
 45,
 16,
 20,
 35,
 89,
 38,
 32,
 39,
 92,
 40,
 24,
 7,
 27,
 23,
 96,
 6,
 87,
 72,
 48,
 86,
 5,
 97,
 22,
 72,
 72,
 32,
 46,
 17,
 39,
 39,
 10,
 55,
 84,
 51,
 88,
 12,
 46,
 42,
 91,
 51,
 55,
 3,
 74,
 90,
 51,
 71,
 54,
 11,
 37,
 23,
 37,
 5,
 12,
 60,
 42,
 61,
 14,
 56,
 61,
 84,
 44,
 90,
 25,
 83,
 92,
 29,
 65,
 17,
 29,
 56,
 85,
 65,
 8,
 37,
 31,
 21,
 37]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [23]:
# Your code here
set2 = set(sample_list_2)
len(sample_list_2) # length = 80
len(set2)  # length = 54

#Length is not 80 anymore because set2 hast ordered values from sample_list_2 and without repetition

54

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [31]:
# Your code here
set3=set1.difference(set2)

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [30]:
# Your code here
set4=set2.difference(set1)

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [32]:
# Your code here
set5= set1.intersection(set2)
set5

{3,
 6,
 8,
 10,
 12,
 14,
 16,
 20,
 21,
 22,
 23,
 24,
 25,
 27,
 32,
 35,
 37,
 38,
 39,
 40,
 42,
 44,
 45,
 46,
 48,
 54,
 55,
 65,
 71,
 72,
 74,
 75,
 83,
 84,
 86,
 87,
 89,
 90,
 92,
 96,
 97}

#### 8 - Create an empty set called `set6`.

In [35]:
# Your code here
#set6={} 
#type(set6) #this will be a dic

set6=set()
type(set6)

set

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [40]:
# Your code here
set6.update(set3)
set6.update(set5)
set6

{0,
 1,
 2,
 3,
 4,
 6,
 8,
 9,
 10,
 12,
 13,
 14,
 15,
 16,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 53,
 54,
 55,
 57,
 58,
 59,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 71,
 72,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 82,
 83,
 84,
 86,
 87,
 89,
 90,
 92,
 93,
 95,
 96,
 97,
 99}

#### 10 - Check if `set1` and `set6` are equal.

In [41]:
# Your code here
set1==set6  #they are equal

True

In [42]:
len(set1)==len(set6)

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [45]:
# Your code here
#A.issubset(B) = A is subset of B, that is, A is contained in B or B contains A
set2.issubset(set1)

False

In [46]:
set3.issubset(set1)

True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [48]:
# Your code here
set_union = (set3.union(set4)).union(set5)

In [49]:
set_union.union(set1)
set_union.union(set2)
set_union

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 51,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 71,
 72,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 95,
 96,
 97,
 99}

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [52]:
# Your code here
set1.pop()

0

In [53]:
set1

{1,
 2,
 3,
 4,
 6,
 8,
 9,
 10,
 12,
 13,
 14,
 15,
 16,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 53,
 54,
 55,
 57,
 58,
 59,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 71,
 72,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 82,
 83,
 84,
 86,
 87,
 89,
 90,
 92,
 93,
 95,
 96,
 97,
 99}

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [60]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for element in list_to_remove:
        if element in set1:
            set1.remove(element)
set1

{3,
 4,
 6,
 8,
 10,
 12,
 13,
 14,
 15,
 16,
 18,
 20,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 40,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 53,
 54,
 55,
 57,
 58,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 72,
 74,
 75,
 76,
 77,
 78,
 80,
 82,
 83,
 84,
 86,
 87,
 90,
 92,
 93,
 95,
 96,
 97}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [62]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [63]:
# Your code here
father_set=set(father_list)
mother_set=set(mother_list)
Jo_set=set(Jo_list)
Carlos_set=set(Carlos_list)
Mattia_set=set(Mattia_list)

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [70]:
# Your code here
#Mattia wants the same items that his brother Carlos
#Mattia_set.union(Carlos_set)

#all in Jo_set but not in the other set:
siblings_set=Jo_set.symmetric_difference(Mattia_set.union(Carlos_set)) #for example tomatos won't be there

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [66]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['toilet paper', 'bread', 'tomatoes', 'onions', 'gums', 'juice', 'cucumber', 'mushrooms', 'watermelon', 'onions']

In [69]:
# Your code here
mother_set=set(mother_list) #set with remove repeated values

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [73]:
# Your code here
#Dsicard method:
family_set=(siblings_set.union(father_set)).union(mother_set)
family_set.discard('toilet paper')
family_set

{'bread',
 'cherries',
 'cucumber',
 'flour',
 'garlic',
 'gums',
 'juice',
 'milk',
 'mushrooms',
 'onions',
 'sugar',
 'tomatoes',
 'water',
 'watermelon',
 'yogurt'}

In [74]:
#loop method:
family_set=(siblings_set.union(father_set)).union(mother_set)

for element in family_set:
    if element=='toilet paper':
            family_set.remove(element)
#I canÂ´t do this because the size of the set I am interating changed its size. This is not good practice

RuntimeError: Set changed size during iteration

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [ ]:
# Your code here
family_set #family set already contains all items that need to be bought with no repetitions according
#to conditions in points 1, 2, 3, and 4

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [75]:
# Your code here
len(family_set)

15

In [76]:
while len(family_set)>5:
    family_set.pop()
family_set

item out
item out
item out
item out
item out
item out
item out
item out
item out
item out

In [81]:
#I check:
family_set
len(family_set)

5