## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [65]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [66]:
# Your code here
list1 = random.sample(range(101),80)

print(list1)

[1, 47, 86, 71, 14, 4, 31, 79, 61, 51, 99, 59, 24, 74, 45, 46, 13, 57, 32, 49, 23, 91, 19, 30, 9, 20, 33, 25, 100, 53, 0, 16, 76, 29, 85, 26, 27, 62, 12, 55, 88, 44, 60, 7, 48, 93, 75, 90, 22, 58, 78, 5, 96, 50, 21, 80, 42, 72, 68, 66, 28, 84, 18, 70, 34, 43, 94, 56, 17, 89, 6, 37, 63, 97, 77, 8, 41, 67, 15, 73]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [67]:
# Your code here
set1 = set(list1)

print(set1, len(set1))

#Yes the length is still 80, the set is ordered but there are no duplicates

{0, 1, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 37, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 84, 85, 86, 88, 89, 90, 91, 93, 94, 96, 97, 99, 100} 80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [68]:
# Your code here
list2 = []

for i in range(80):
    list2.append(random.randint(0,100))

print(list2)

[3, 71, 23, 15, 63, 40, 55, 71, 89, 56, 73, 69, 99, 68, 88, 79, 98, 66, 34, 67, 60, 21, 86, 2, 58, 91, 46, 71, 17, 82, 8, 14, 6, 23, 1, 95, 32, 43, 88, 1, 2, 53, 84, 53, 82, 99, 83, 65, 11, 49, 64, 75, 20, 58, 18, 35, 37, 48, 39, 15, 90, 44, 55, 45, 60, 85, 57, 28, 30, 70, 90, 0, 74, 56, 0, 71, 11, 45, 20, 84]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [69]:
# Your code here

set2 = set(list2)

print(set2, len(set2))

#the length is no longer 80 because we have duplicates and a set only prints the unique values. In this case we had 25 instances of an integer appearing more than once

{0, 1, 2, 3, 6, 8, 11, 14, 15, 17, 18, 20, 21, 23, 28, 30, 32, 34, 35, 37, 39, 40, 43, 44, 45, 46, 48, 49, 53, 55, 56, 57, 58, 60, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 79, 82, 83, 84, 85, 86, 88, 89, 90, 91, 95, 98, 99} 59

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [70]:
# Your code here
set3 = set(set1-set2)

print(set3)

{4, 5, 7, 9, 12, 13, 16, 19, 22, 24, 25, 26, 27, 29, 31, 33, 41, 42, 47, 50, 51, 59, 61, 62, 72, 76, 77, 78, 80, 93, 94, 96, 97, 100}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [71]:
# Your code here
set4 = set(set2-set1)

print(set4)

{64, 65, 2, 35, 3, 69, 98, 39, 40, 11, 82, 83, 95}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [72]:
# Your code here
set5 = set1 & set2

print(set5)

{0, 1, 6, 8, 14, 15, 17, 18, 20, 21, 23, 28, 30, 32, 34, 37, 43, 44, 45, 46, 48, 49, 53, 55, 56, 57, 58, 60, 63, 66, 67, 68, 70, 71, 73, 74, 75, 79, 84, 85, 86, 88, 89, 90, 91, 99}

#### 8 - Create an empty set called `set6`.

In [73]:
# Your code here
set6 = set()

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [74]:
# Your code here
set6.update(set3, set5)

print(set6)

{0, 1, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 37, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 84, 85, 86, 88, 89, 90, 91, 93, 94, 96, 97, 99, 100}

#### 10 - Check if `set1` and `set6` are equal.

In [75]:
# Your code here
if set1 == set6:
    print(True)
else:
    print(False)

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [76]:
# Your code here
if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

if set3.issubset(set1):
    print("set3 is a subset of set1")
else:
    print("set3 is not a subset of set1")

set2 is not a subset of set1
set3 is a subset of set1

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [77]:
# Your code here
aggregate_setx = set3.union(set4, set5)

print(aggregate_setx)

aggregate_sety = set1.union(set2)

print(aggregate_sety)

if aggregate_setx == aggregate_sety:
    print("They are equal")

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}
They are equal

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [78]:
# Your code here
set3.pop()

print(set3)

#so 0 was removed

{5, 7, 9, 12, 13, 16, 19, 22, 24, 25, 26, 27, 29, 31, 33, 41, 42, 47, 50, 51, 59, 61, 62, 72, 76, 77, 78, 80, 93, 94, 96, 97, 100}

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [79]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set7 = set1 - set(list_to_remove)

print(set1)

print(set7)

{0, 1, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 37, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 84, 85, 86, 88, 89, 90, 91, 93, 94, 96, 97, 99, 100}
{0, 4, 5, 6, 7, 8, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 37, 42, 43, 44, 45, 46, 47, 48, 50, 53, 55, 56, 57, 58, 60, 62, 63, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 84, 85, 86, 88, 90, 93, 94, 96, 97, 100}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [80]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [81]:
# Your code here

father_set = set(father_list)
mother_set = set(mother_list)
jo_set = set(Jo_list)
carlos_set = set(Carlos_list)
mattia_set = set(Mattia_list)

distinct_set = set(father_set | mother_set | jo_set | carlos_set | mattia_set)

print(distinct_set)

{'cucumber', 'milk', 'garlic', 'water', 'watermelon', 'yogurt', 'toilet paper', 'onions', 'gums', 'blueberries', 'juice', 'sugar', 'cherries', 'tomatoes', 'flour'}

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [83]:
# Your code here

car_or_jo = carlos_set | jo_set
car_and_jo = carlos_set & jo_set

mattia_set = car_or_jo - car_and_jo

print(mattia_set)

{'water', 'milk', 'cucumber', 'yogurt', 'watermelon', 'toilet paper', 'gums', 'juice', 'sugar', 'cherries', 'flour'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [84]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['shampoo', 'juice', 'shampoo', 'sugar', 'toilet paper', 'flour', 'onions', 'garlic', 'shampoo', 'watermelon']

In [85]:
# Your code here
mother_set = set(mother_list)

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [89]:
# Isn't this just easier:
distinct_set = set(father_set | mother_set | jo_set | carlos_set | mattia_set)

distinct_set.discard("toilet paper")

print(distinct_set)

{'shampoo', 'cucumber', 'milk', 'garlic', 'water', 'watermelon', 'blueberries', 'cherries', 'yogurt', 'onions', 'gums', 'juice', 'sugar', 'tomatoes', 'flour'}

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [ ]:
# see above

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [91]:
# lets define a list a .pop() it 5x.

selected_items = []

for i in range(5):
    selected_item = distinct_set.pop()
    selected_items.append(selected_item)

print(selected_items)

['shampoo', 'cucumber', 'milk', 'garlic', 'water']