## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [17]:
# Generate 80 unique random integers between 0 and 100
sample_list_1 = random.sample(range(101), 80)
sample_list_1

[15,
 53,
 0,
 96,
 51,
 97,
 57,
 2,
 9,
 31,
 66,
 46,
 13,
 10,
 80,
 39,
 92,
 63,
 43,
 14,
 81,
 33,
 75,
 73,
 68,
 65,
 59,
 17,
 98,
 6,
 23,
 69,
 8,
 64,
 60,
 27,
 78,
 1,
 61,
 50,
 87,
 21,
 93,
 89,
 18,
 4,
 70,
 94,
 79,
 32,
 86,
 95,
 82,
 38,
 99,
 42,
 100,
 28,
 36,
 67,
 22,
 72,
 19,
 44,
 83,
 55,
 11,
 58,
 45,
 29,
 91,
 52,
 62,
 49,
 35,
 25,
 88,
 84,
 5,
 30]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [16]:
# Your code here
set1=set(sample_list_1)
print(len(set1))

80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [28]:
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0, 100))

In [29]:
len(sample_list_2)

80

In [33]:
sample_list_2

[90,
 55,
 92,
 11,
 73,
 13,
 36,
 7,
 50,
 21,
 41,
 16,
 4,
 49,
 13,
 3,
 86,
 67,
 99,
 65,
 64,
 9,
 42,
 73,
 8,
 59,
 10,
 99,
 69,
 73,
 91,
 0,
 76,
 24,
 11,
 31,
 70,
 72,
 72,
 25,
 4,
 26,
 76,
 12,
 45,
 66,
 72,
 9,
 47,
 35,
 70,
 57,
 31,
 86,
 36,
 66,
 6,
 57,
 7,
 2,
 95,
 33,
 27,
 42,
 61,
 92,
 6,
 100,
 48,
 83,
 21,
 52,
 24,
 69,
 97,
 23,
 46,
 81,
 60,
 86]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [34]:
# Your code here
set2=set(sample_list_2)
print(len(set2))
#When converting the list to a set duplicates are automatically removed 
#Sets in Python cannot contain duplicate elements

56

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [42]:
# Your code here
list_3=[]
for element in set1:
    if element not in set2:
        list_3.append(element)
set3=set(list_3)
set3

{1,
 5,
 14,
 17,
 18,
 19,
 20,
 28,
 30,
 32,
 38,
 39,
 40,
 43,
 44,
 53,
 54,
 56,
 62,
 63,
 71,
 74,
 75,
 77,
 78,
 79,
 80,
 84,
 85,
 87,
 88,
 89,
 93,
 94,
 96,
 98}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [43]:
# Your code here
list_4=[]
for element in set2:
    if element not in set1:
        list_4.append(element)
set4=set(list_4)
set4

{2, 13, 23, 24, 26, 60, 69, 70, 72, 73, 81, 92}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [44]:
# Your code here
list_5=[]
for element in set2:
    if element in set1:
        list_5.append(element)
set5=set(list_5)
set5

{0,
 3,
 4,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 16,
 21,
 25,
 27,
 31,
 33,
 35,
 36,
 41,
 42,
 45,
 46,
 47,
 48,
 49,
 50,
 52,
 55,
 57,
 59,
 61,
 64,
 65,
 66,
 67,
 76,
 83,
 86,
 90,
 91,
 95,
 97,
 99,
 100}

#### 8 - Create an empty set called `set6`.

In [50]:
# Your code here
set6=set()
set6
type(set6)

set

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [54]:
# Your code here
set6.update(set3,set5)
set6

{0,
 1,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 14,
 16,
 17,
 18,
 19,
 20,
 21,
 25,
 27,
 28,
 30,
 31,
 32,
 33,
 35,
 36,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 52,
 53,
 54,
 55,
 56,
 57,
 59,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 71,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100}

#### 10 - Check if `set1` and `set6` are equal.

In [55]:
# Your code here
set1==set6

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [59]:
# Your code here
x=set2.issubset(set1)
y=set3.issubset(set1)
x, y

(False, True)

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [60]:
# Aggregate set3, set4, and set5 using the union method
aggregated_set_1 = set3.union(set4, set5)

# Aggregate set1 and set2 using the union method
aggregated_set_2 = set1.union(set2)

# Check if the aggregated values are equal
if aggregated_set_1 == aggregated_set_2:
    print("The aggregated sets are equal.")
else:
    print("The aggregated sets are not equal.")

The aggregated sets are equal.

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [65]:
# Your code here
set1.pop()
set1

{3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 14,
 16,
 17,
 18,
 19,
 20,
 21,
 25,
 27,
 28,
 30,
 31,
 32,
 33,
 35,
 36,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 52,
 53,
 54,
 55,
 56,
 57,
 59,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 71,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100}

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [69]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
# Your code here
for element in list_to_remove:
    if element in list(set1):
        list_to_remove.remove(element)
list_to_remove

[1, 11, 21, 29, 39, 49, 51, 61, 69, 79, 81, 91]

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [70]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [77]:
# Your code here
#father_set= set(father_list.unique()) It doesn't make sense. Sets don't have duplicates
father_set = set(father_list)
mother_set = set(mother_list)
Jo_set = set(Jo_list)
Carlos_set = set(Carlos_list)
Mattia_set = set(Mattia_list)

print("Father's set:", father_set)
print("Mother's set:", mother_set)
print("Jo's set:", Jo_set)
print("Carlos's set:", Carlos_set)
print("Mattia's set:", Mattia_set)

Father's set: {'flour', 'onions', 'garlic', 'cucumber', 'watermelon', 'gums', 'yogurt', 'toilet paper'}
Mother's set: set()
Jo's set: {'onions', 'garlic', 'juice', 'cucumber', 'milk', 'blueberries', 'watermelon', 'sugar', 'gums', 'yogurt', 'tomatoes'}
Carlos's set: {'flour', 'onions', 'garlic', 'cherries', 'blueberries', 'toilet paper', 'water', 'tomatoes'}
Mattia's set: set()

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [79]:
# Your code here
Mattia_set = Carlos_set.symmetric_difference(Jo_set)
Mattia_set

{'cherries',
 'cucumber',
 'flour',
 'gums',
 'juice',
 'milk',
 'sugar',
 'toilet paper',
 'water',
 'watermelon',
 'yogurt'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [80]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['mushrooms', 'deodorant', 'vinegar', 'toilet paper', 'chocolate', 'oranges', 'sugar', 'deodorant', 'onions', 'deodorant']

In [82]:
# Your code here
mother=set(mother_list)
mother

{'chocolate',
 'deodorant',
 'mushrooms',
 'onions',
 'oranges',
 'sugar',
 'toilet paper',
 'vinegar'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [83]:
# Your code here
father_set

{'cucumber',
 'flour',
 'garlic',
 'gums',
 'onions',
 'toilet paper',
 'watermelon',
 'yogurt'}

In [85]:
father_set.discard("toilet paper")
father_set

{'cucumber', 'flour', 'garlic', 'gums', 'onions', 'watermelon', 'yogurt'}

In [93]:
mother_set

set()

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [102]:
# Your code here
groceries = father_set.union(mother, Jo_set, Carlos_set, Mattia_set)
groceries

{'blueberries',
 'cherries',
 'chocolate',
 'cucumber',
 'deodorant',
 'flour',
 'garlic',
 'gums',
 'juice',
 'milk',
 'mushrooms',
 'onions',
 'oranges',
 'sugar',
 'toilet paper',
 'tomatoes',
 'vinegar',
 'water',
 'watermelon',
 'yogurt'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [100]:
len(groceries)

20

In [103]:
# Your code here

for i in range(len(groceries)):
    if len(groceries)>5:
        groceries.pop()
groceries

{'blueberries', 'cherries', 'mushrooms', 'vinegar', 'watermelon'}