## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [99]:
import random as r

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [100]:
# Your code here
sample_list_1 = []

sample_list_1 = [r.randint(0,100) for _ in range(80)]
sample_list_1

[39,
 90,
 60,
 89,
 47,
 37,
 74,
 2,
 83,
 37,
 4,
 12,
 19,
 10,
 70,
 28,
 6,
 74,
 16,
 17,
 11,
 80,
 99,
 98,
 39,
 79,
 84,
 70,
 85,
 30,
 64,
 40,
 33,
 11,
 45,
 39,
 57,
 97,
 50,
 54,
 26,
 73,
 61,
 32,
 29,
 30,
 18,
 10,
 60,
 60,
 29,
 36,
 25,
 41,
 48,
 42,
 26,
 84,
 93,
 13,
 20,
 90,
 90,
 67,
 71,
 76,
 53,
 16,
 19,
 35,
 30,
 40,
 8,
 27,
 89,
 88,
 58,
 6,
 23,
 21]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [101]:
# Your code here

set1 = {value for value in sample_list_1}
print(set1)

{2, 4, 6, 8, 10, 11, 12, 13, 16, 17, 18, 19, 20, 21, 23, 25, 26, 27, 28, 29, 30, 32, 33, 35, 36, 37, 39, 40, 41, 42, 45, 47, 48, 50, 53, 54, 57, 58, 60, 61, 64, 67, 70, 71, 73, 74, 76, 79, 80, 83, 84, 85, 88, 89, 90, 93, 97, 98, 99}

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [102]:
# Your code here
sample_list_2 = []

sample_list_2 = [r.randint(0,100) for _ in range(80)]

sample_list_2

[54,
 74,
 71,
 46,
 54,
 62,
 59,
 21,
 25,
 5,
 34,
 6,
 17,
 10,
 51,
 47,
 96,
 38,
 79,
 46,
 14,
 8,
 5,
 22,
 37,
 17,
 92,
 30,
 73,
 44,
 23,
 69,
 56,
 17,
 29,
 44,
 18,
 76,
 33,
 57,
 17,
 15,
 66,
 94,
 31,
 49,
 28,
 9,
 19,
 46,
 85,
 60,
 1,
 72,
 18,
 94,
 85,
 80,
 40,
 100,
 19,
 30,
 31,
 53,
 90,
 58,
 8,
 55,
 33,
 13,
 67,
 27,
 68,
 59,
 52,
 46,
 1,
 37,
 67,
 26]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [103]:
# Your code here
set2 = {value for value in sample_list_2}
print(set2)

{1, 5, 6, 8, 9, 10, 13, 14, 15, 17, 18, 19, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 33, 34, 37, 38, 40, 44, 46, 47, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 66, 67, 68, 69, 71, 72, 73, 74, 76, 79, 80, 85, 90, 92, 94, 96, 100}

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [104]:
# Your code here
set3 = set1.difference(set2)
set3

{2,
 4,
 11,
 12,
 16,
 20,
 32,
 35,
 36,
 39,
 41,
 42,
 45,
 48,
 50,
 61,
 64,
 70,
 83,
 84,
 88,
 89,
 93,
 97,
 98,
 99}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [105]:
# Your code here
set4 = set2.difference(set1)
set4

{1,
 5,
 9,
 14,
 15,
 22,
 31,
 34,
 38,
 44,
 46,
 49,
 51,
 52,
 55,
 56,
 59,
 62,
 66,
 68,
 69,
 72,
 92,
 94,
 96,
 100}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [106]:
# Your code here
set5 = set1.intersection(set2)
set5

{6,
 8,
 10,
 13,
 17,
 18,
 19,
 21,
 23,
 25,
 26,
 27,
 28,
 29,
 30,
 33,
 37,
 40,
 47,
 53,
 54,
 57,
 58,
 60,
 67,
 71,
 73,
 74,
 76,
 79,
 80,
 85,
 90}

#### 8 - Create an empty set called `set6`.

In [107]:
# Your code here
set6 = set()

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [108]:
# Your code here
set6.update(set3, set5)

#### 10 - Check if `set1` and `set6` are equal.

In [109]:
# Your code here
set7=set1.intersection(set6)
print("as the len is the same for the intersection and the sets set1 and set6 are equal,",len(set1), len(set6), len(set7))

as the len is the same for the intersection and the sets set1 and set6 are equal, 59 59 59

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [110]:
# Your code here
set2.issubset(set1), set3.issubset(set1)
print("It is", set2.issubset(set1), "that set1 contains set2 and it is",set3.issubset(set1), "that set1 contains set3")

#x = {"a", "b", "c"}
#y = {"f", "e", "d", "c", "b", "a"}
#z = x.issubset(y) #y contiene los valores de x

It is False that set1 contains set2 and it is True that set1 contains set3

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [111]:
# Your code here
set345 = set()
set345.update(set3,set4,set5)
set12 = set()
set12.update(set1, set2)

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [112]:
# Your code here
print(set1)
set1.pop()
print(set1)

{2, 4, 6, 8, 10, 11, 12, 13, 16, 17, 18, 19, 20, 21, 23, 25, 26, 27, 28, 29, 30, 32, 33, 35, 36, 37, 39, 40, 41, 42, 45, 47, 48, 50, 53, 54, 57, 58, 60, 61, 64, 67, 70, 71, 73, 74, 76, 79, 80, 83, 84, 85, 88, 89, 90, 93, 97, 98, 99}
{4, 6, 8, 10, 11, 12, 13, 16, 17, 18, 19, 20, 21, 23, 25, 26, 27, 28, 29, 30, 32, 33, 35, 36, 37, 39, 40, 41, 42, 45, 47, 48, 50, 53, 54, 57, 58, 60, 61, 64, 67, 70, 71, 73, 74, 76, 79, 80, 83, 84, 85, 88, 89, 90, 93, 97, 98, 99}

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [120]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_remove = {value for value in list_to_remove}
set1 = set1.difference(set_remove)
print(set1)

{4, 6, 8, 10, 12, 13, 16, 17, 18, 20, 23, 25, 26, 27, 28, 30, 32, 33, 35, 36, 37, 40, 42, 45, 47, 48, 50, 53, 54, 57, 58, 60, 64, 67, 70, 73, 74, 76, 80, 83, 84, 85, 88, 90, 93, 97, 98}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [121]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [124]:
# Your code here
father_set = {value for value in father_list}
mother_set = {value for value in mother_list}
Jo_set = {value for value in Jo_list}
Carlos_set = {value for value in Carlos_list}
Mattia_set = {value for value in Mattia_list}

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [135]:
# Your code here
Carlos_Jo = Carlos_set.intersection(Jo_set)
Mattia_set = Carlos_set.difference(Carlos_Jo)
Mattia_Jo
Carlos_Jo
Mattia_set

{'cherries', 'flour', 'toilet paper', 'water'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [127]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['water', 'blueberries', 'toilet paper', 'mushrooms', 'toilet paper', 'oranges', 'milk', 'vinegar', 'milk', 'yogurt']

In [129]:
# Your code here
mother_set = {value for value in mother_list}
mother_set

{'blueberries',
 'milk',
 'mushrooms',
 'oranges',
 'toilet paper',
 'vinegar',
 'water',
 'yogurt'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [137]:
# Your code here
mother_set.discard('toilet paper')
father_set.discard('toilet paper')
Mattia_set.discard('toilet paper')
Carlos_set.discard('toilet paper')
Jo_set.discard('toilet paper')
Carlos_Jo.discard('toilet paper')

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [144]:
# Your code here
groceries_set = set()
groceries_set.update(mother_set, father_set, Mattia_set, Jo_set, Carlos_set)
groceries_set
#mother_set, father_set, Mattia_set, Jo_set, Carlos_set

{'blueberries',
 'cherries',
 'cucumber',
 'flour',
 'garlic',
 'gums',
 'juice',
 'milk',
 'mushrooms',
 'onions',
 'oranges',
 'sugar',
 'tomatoes',
 'vinegar',
 'water',
 'watermelon',
 'yogurt'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [152]:
# Your code here
remove_elements = len(groceries_set) - 5
remove_elements
father_pick = set()
father_pick.update(groceries_set)
for i in range(remove_elements):
    father_pick.pop()
    print(i)
    i=+1
print(father_pick)

0
1
2
3
4
5
6
7
8
9
10
11
{'garlic', 'juice', 'yogurt', 'watermelon', 'oranges'}